### 파이썬의 기본 문법
- 변수선언, 식별자, 자료형, 형변환, 연산자 학습

#### 1. 주석(comment)과 출력(print)

In [3]:
# 주석: 앞에 #을 붙이면 코드로 실행이 안됩니다. 
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축키: ctrl(cmd)+/
 # 블럭설정: shift + 방향키


# 1,2,3 을 출력하는 코드

print(1)
#print(2)
print(3)

1
3

In [4]:
# 출력: print 함수
# 코드 중간에 변수에 들어있는 값을 확인하고 싶을 때 사용

In [6]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [8]:
# print 함수의 옵션
# docstring: 함수에 대한 설명 : 단축키(shift + tab)
# 자동완성 : tab
print(1,2, sep=" ", end="\t")
print(3)
print

1 2	3

#### 2. 변수선언
- RAM 저장공간에 값을 할당하는 행위

In [14]:
a = 1
b = 2
c = a + b
c

3

#### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_)를 사용
    - 가장 앞에 숫자 사용 불가
    - 예약어의 사용 불가: def, class, try, except ... 
    - 컨벤션
        - snake case: fast_campus :변수, 함수
        - camel case: FastCampus, fastCampus: 클래스

#### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적 타이핑 
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입: int, float, bool, str
- 컬렉션 데이터 타입: list, tuple, dict

In [18]:
a = 1
  # int a = 1
b = "python"
type(a), type(b)

(int, str)

In [19]:
# 기본 데이터 타입 : int, float, booㅣ, str
a = 1
b = 1.2
c = True #False
d = "data"

type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [20]:
a+b

2.2

In [21]:
a+d

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
# 데이터 타입의 함수 : 문자열
e = d.upper()

In [27]:
d, e

('data', 'DATA')

In [31]:
f = "  Fast campus  "

In [32]:
# lower: 소문자로 변환
f.lower()

'  fast campus  '

In [33]:
# strip: 공백제거 _ 데이터수집(크롤링)시 자주 사용
f.strip()

'Fast campus'

In [34]:
# replace : 특정 문자열 치환
f.replace("Fast","Slow")

'  Slow campus  '

In [36]:
dir(f) # 해당 변수의 데이터타입에서 사용할 수 있는 함수 목록

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [37]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 잇는 문자들의 집합

In [39]:
g = "abcdefg"

In [44]:
g[2], g[-2],g[2:5], g[:2], g[3:], g[-2:], g[::2], g[::-1]

('c', 'f', 'cde', 'ab', 'defg', 'fg', 'aceg', 'gfedcba')

In [1]:
numbers = "123456789" # 97531 출력

In [3]:
numbers[::-2][::-1]

'13579'

In [47]:
numbers

'123456789'

In [48]:
numbers[::-2]

'97531'

In [50]:
# 컬렉션 데이터 타입 : list, tuple, dict
# list[] : 순서가 있는 수정이 가능한 데이터 타입
# tuple(): 순서가 있는 수정이 불가능한 데이터 타입
# dict{}: 순서가 없고 키:값 으로 구성되어 있는 데이터 타입

In [51]:
# list
ls = [1,2,3, "four", [5,6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [68]:
# offset index사용이 가능 
ls[3], ls[1:3], ls[::-1]

(4, [2, 3], [5, 4, 3, 2, 1])

In [54]:
# list 함수

In [77]:
ls = [1,5,2,4]

In [78]:
# append: 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [79]:
# sort : 오름차순으로 정렬
ls.sort()
ls

[1, 2, 3, 4, 5]

In [69]:
dir(ls)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제 
# ctrl+enter

In [80]:
num = ls.pop()
num, ls

(5, [1, 2, 3, 4])

In [ ]:
# 리스트의 복사

In [81]:
ls1 = [1,2,3]
ls2 = ls1 #얕은복사(주소값복사)
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [82]:
ls2[2] = 5

In [83]:
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [86]:
ls3 = ls1.copy() #깊은복사
ls1, ls3

([1, 2, 10], [1, 2, 10])

In [85]:
ls1[2] = 10
ls1, ls3

([1, 2, 10], [1, 2, 5])

##### Tuple(): 리스트와 같지만 수정이 불가능한 데이터 타입, 괄호 생략도 가능 
- 튜플은 리스트보다 같은 데이터를 가졌을때 공간을 적게 사용

In [88]:
tp1 = 1,2,3
tp2 = (4,5,6)
type(tp1),type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [89]:
a, b = 1, 2
a,b

(1, 2)

In [91]:
# offset index 사용가능 
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [92]:
# 리스트와 튜플의 저장공간의 차이 비교
import sys

ls = [1,2,3]
tp = (1,2,3)

print(sys.getsizeof(ls),sys.getsizeof(tp))

80 64

##### dic {}
- 순서가 없고 {키:값}으로 구성되어 있는 데이터 타입

In [93]:
# 선언: 키는 정수, 문자열 데이터 타입만 사용이 가능
# 인덱스 대신 키를 사용 
dic = {
    1: "one", 
    "two": 2,
    "three": [1,2,3]
}

type(dic),dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [94]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [96]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [ ]:
# 도시 : seoul, busan, daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [98]:
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [100]:
data = { "seoul": 9700000,
      "busan": 3400000,
      "daegu": 2400000}

In [101]:
sum(population)

15500000

In [103]:
sum([1,2,3])

6

In [104]:
data.values()

dict_values([9700000, 3400000, 2400000])

In [105]:
sum(data.values())

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [108]:
a = 1
b = "2"
a + int(b)

3

In [109]:
str(a) + b

'12'

In [110]:
list(data.values())

[9700000, 3400000, 2400000]

In [111]:
city, population

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [117]:
# zip : 같은 인덱스 데이터끼리 묶어주는 함수
result = dict(zip(city, population))
result

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [119]:
data1 = list(result.keys())
data2 = list(result.values())
data1, data2

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

### 6. 연산자
- 산술연산자: +, -, *, /, //, %, **
- 할당연산자: 변수에 누적시켜서 연산 :  +=, -=, //=, **=
- 비교연산자: >,<, ==, !=, <=, >=: 결과로 True, False를 출력
- 논리연산자: True, False를 연산 : or, and, not
- 멤버연산자: 특정 데이터가 있는 확인할 때 사용 : not in, in

In [121]:
(1 + 4 )/ 2**2

1.25

In [123]:
a = 10
a = a + 10
a = a + 10
a

30

In [127]:
b= 10
b +=10
b +=10
b

30

In [129]:
# 멤버 연산 
ls = ["jin", "andy", "john"]

In [132]:
"andy" in ls, "anchle" in ls, "john" not in ls

(True, False, False)

In [154]:
### 랜덤함수
import random

random.randint(1,10)

3

In [155]:
### 입력함수
data = input("insert string: ")
data

insert string: 안녕하세요

'안녕하세요'

In [156]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

In [157]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# index 해당하는 솔루션 리스트의 데이터를 출력

In [5]:
import random

# 솔루션을 리스트로 작성

solutions = ["뒷통수를 조심하라, 앞으로 넘어져도 코가깨지는 날", 
            "로또를사라, 온 우주의 기운이 나에게로 온 날",
            "하루하루 감사하게, 하루하루 성실하게"]

#질문을 입력받음 
question = input("질문을 입력하세요")
index = random.randint(0,len(solutions)-1)
solutions[index]

질문을 입력하세요오늘 정려의 운세

'하루하루 감사하게, 하루하루 성실하게'

In [ ]:
`