### summary
- numpy: 선형대수를 빠르게 연산해주는 패키지
- 행렬의 생성1: ndarray, ap.array(iterable)
- 행렬의 생성2: ones, zeros
- 행렬의 데이터 선택: array[x, y,z]
- 행렬 데이터 수정
    - 행렬 데이터를 선택
    - =, > (scala, vector, matrix)
    - broadcasting 브로드캐스팅 개념
- arange: list에서 사용하는 range: 결과가 ndarray

### quiz 
- 100~130 까지 랜덤함 순자를 가지는 8*8 행렬을 만들고 
- 3의 배수는 fizz, 5의 배수는 buzz, 3과 5의 배수는 fizzbuzz로 변환

```
datas = np.random.randint(100,130, size = (8,8))
```

- 데이터 타입이 정수 -> 문자열 : ndarray.astype

In [2]:
import numpy as np

In [42]:
datas = np.random.randint(100,130, size = (8,8))

In [43]:
datas

array([[124, 117, 118, 106, 103, 106, 111, 106],
       [123, 102, 128, 112, 114, 119, 116, 110],
       [112, 103, 104, 123, 123, 106, 108, 114],
       [115, 116, 101, 121, 114, 111, 128, 105],
       [101, 115, 120, 119, 107, 129, 101, 100],
       [101, 126, 109, 123, 115, 129, 118, 113],
       [125, 107, 112, 121, 115, 115, 108, 115],
       [103, 105, 129, 103, 104, 105, 104, 126]])

In [40]:
idx1 = datas % 3 == 0

In [50]:
# 3의 배수, 5의 배수, 15의 배수 위치값에 대한 T, F matrix 생성
idx_3 = datas % 3 == 0
idx_5 = datas % 5 == 0
idx_15 = datas % 15 == 0

In [51]:
# 데이터 타입으로 str 으로 변환
datas.dtype
result = datas.astype("str")
result

array([['124', '117', '118', '106', '103', '106', '111', '106'],
       ['123', '102', '128', '112', '114', '119', '116', '110'],
       ['112', '103', '104', '123', '123', '106', '108', '114'],
       ['115', '116', '101', '121', '114', '111', '128', '105'],
       ['101', '115', '120', '119', '107', '129', '101', '100'],
       ['101', '126', '109', '123', '115', '129', '118', '113'],
       ['125', '107', '112', '121', '115', '115', '108', '115'],
       ['103', '105', '129', '103', '104', '105', '104', '126']],
      dtype='<U21')

In [46]:
# T, F matrix를 이용하여 특정 조건의 데이터를 선택 후 브로드캐스팅하게 값을 대입

In [53]:
idx_3

array([[False,  True, False, False, False, False,  True, False],
       [ True,  True, False, False,  True, False, False, False],
       [False, False, False,  True,  True, False,  True,  True],
       [False, False, False, False,  True,  True, False,  True],
       [False, False,  True, False, False,  True, False, False],
       [False,  True, False,  True, False,  True, False, False],
       [False, False, False, False, False, False,  True, False],
       [False,  True,  True, False, False,  True, False,  True]])

In [54]:
result[idx_3] = "fiz"
result[idx_5] = "buz"
result[idx_15] = "fizbuz"

In [55]:
result

array([['124', 'fiz', '118', '106', '103', '106', 'fiz', '106'],
       ['fiz', 'fiz', '128', '112', 'fiz', '119', '116', 'buz'],
       ['112', '103', '104', 'fiz', 'fiz', '106', 'fiz', 'fiz'],
       ['buz', '116', '101', '121', 'fiz', 'fiz', '128', 'fizbuz'],
       ['101', 'buz', 'fizbuz', '119', '107', 'fiz', '101', 'buz'],
       ['101', 'fiz', '109', 'fiz', 'buz', 'fiz', '118', '113'],
       ['buz', '107', '112', '121', 'buz', 'buz', 'fiz', 'buz'],
       ['103', 'fizbuz', 'fiz', '103', '104', 'fizbuz', '104', 'fiz']],
      dtype='<U21')

### Quiz
- 1~20까지 랜덤한 숫자를 가지는 5*5 행렬 생성 
- 최대값에는 Max, 최소값에는 Min 문자열이 들어가도록 치환하는 코드
- 최대값과 최소값 함수 

```
np.min(ndarray)
np.max(ndarray)
```

In [93]:
array = np.random.randint(1, 20, (5,5))

In [94]:
array

array([[14, 11, 15,  6,  2],
       [10, 18, 17, 11, 15],
       [10,  7, 14, 13, 13],
       [19,  5,  9, 13, 19],
       [ 6, 19, 17, 13, 17]])

In [99]:
idx_min, idx_max = np.min(array), np.max(array)
idx_min, idx_max

(2, 19)

In [95]:
idx_min = array == np.min(array)
idx_max = array == np.max(array)

In [96]:
result = array.astype("str")
result[idx_min]=  "min"
result[idx_max]= "max"

In [97]:
result

array([['14', '11', '15', '6', 'min'],
       ['10', '18', '17', '11', '15'],
       ['10', '7', '14', '13', '13'],
       ['max', '5', '9', '13', 'max'],
       ['6', 'max', '17', '13', '17']], dtype='<U21')

### 1. linspace, logsplace 함수
- linspace : 설정한 범위에서 선형적으로 분한할 위치의 값을 출력
- logspace : 설정한 범위에서 로그한 분할한 위치의 값을 출력

In [20]:
# linspace 
np.linspace(0,100,5)

array([  0.,  25.,  50.,  75., 100.])

In [21]:
# logspace 
# log10(x1) = 2, log10(x2) = 3, log10(x3) = 4 
np.logspace(2, 4, 3)

array([  100.,  1000., 10000.])

In [22]:
# 30세에 연봉이 $10000이고, 60세의 연봉이 $1000000 일때
# 연봉이 선형으로 증가 vs.지수함수로 증가하는 두 경우에서 40세, 50세의 연봉을 출력

In [27]:
age_30 = 100000
age_60 = 1000000

In [28]:
np.linspace(age_30, age_60, 4)

array([ 100000.,  400000.,  700000., 1000000.])

In [29]:
np.logspace(np.log10(age_30), np.log10(age_60), 4)

array([ 100000.        ,  215443.46900319,  464158.88336128,
       1000000.        ])

### 2. numpy random
- seed: 랜덤값의 설정값
- rand: 균등분포로 난수를 발생 (뽑힐 확률이 균등)
- randn: 정규분포로 난수를 발생 (뽑힐확 률이 정규분포를 따름)
- randint: 균등분포로 정수값을 발생
- shuffle: 행렬 데이터를 섞어줌
- choice: 특정확률로 데이터를 선택

In [31]:
# seed
np.random.seed(1)
result1 = np.random.randint(10,100,10)

np.random.seed(1)
result2 = np.random.randint(10,100,10)

np.random.seed(3)
result3 = np.random.randint(10,100,10)

result1, result2, result3

(array([47, 22, 82, 19, 85, 15, 89, 74, 26, 11]),
 array([47, 22, 82, 19, 85, 15, 89, 74, 26, 11]),
 array([34, 13, 66, 82, 10, 31, 29, 84, 51, 20]))

In [32]:
np.random.rand(10)

array([0.2478883 , 0.0935515 , 0.69482365, 0.14537014, 0.4531723 ,
       0.21557701, 0.35390507, 0.49263593, 0.91330145, 0.76582638])

In [34]:
np.random.randn(10)

array([ 0.31640691,  0.56939549,  1.01924992, -0.57636719, -1.40340536,
       -1.88259849,  1.36976982, -0.41159769,  0.62652349, -1.83887166])

In [35]:
# shuffle

r = np.random.randint(1,10, (3,4))
r

array([[5, 4, 1, 1],
       [1, 1, 3, 3],
       [8, 1, 6, 1]])

In [38]:
np.random.shuffle(r)
r
# 가장 바깥 차원에서만 바뀌므로, 함수를 1차원으로 reshape 한 후 shuffle 한 후 다시 원래 차수로 변경해주면 전체 shuffle 가능

array([[8, 1, 6, 1],
       [5, 4, 1, 1],
       [1, 1, 3, 3]])

In [40]:
# choice
np.random.choice(5, 10, p=[0.1, 0, 0.4, 0.2, 0.3])

array([2, 3, 2, 3, 2, 2, 0, 2, 4, 2])

In [45]:
# unique
numbers, counts = np.unique(r, return_counts = True)
print(numbers)
print(counts)

[1 3 4 5 6 8]
[6 2 1 1 1 1]

### 3. 행렬데이터의 결합 
- concatenate

In [62]:
na1 = np.random.randint(10, size = (2,3))
na2 = np.random.randint(10, size = (3,2))
na3 = np.random.randint(10, size = (3,3))

In [63]:
na1

array([[1, 9, 0],
       [7, 4, 8]])

In [64]:
na2

array([[8, 4],
       [1, 4],
       [0, 5]])

In [65]:
na3

array([[6, 7, 0],
       [7, 8, 1],
       [5, 3, 6]])

In [66]:
# 세로결합

In [67]:
np.concatenate((na1, na3))

array([[1, 9, 0],
       [7, 4, 8],
       [6, 7, 0],
       [7, 8, 1],
       [5, 3, 6]])

In [68]:
# 가로결합

In [69]:
np.concatenate((na2, na3), axis = 1)

array([[8, 4, 6, 7, 0],
       [1, 4, 7, 8, 1],
       [0, 5, 5, 3, 6]])

In [71]:
# c_, r_
np.c_[np.array([1,2,3]), np.array([4,5,6])]

array([[1, 4],
       [2, 5],
       [3, 6]])

In [72]:
np.r_[np.array([1,2,3]), np.array([4,5,6])]

array([1, 2, 3, 4, 5, 6])

In [73]:
# split, car, std, mean ...