#### zigbang ë§¤ë¬¼ ë°ì´í„° ì €ì¥
- pip install -y geohash2

In [2]:
import pymongo
import zigbang as zb
import pandas as pd

In [3]:
datas = zb.oneroom("ë§ˆí¬êµ¬ í•©ì •ë™")

In [4]:
df = pd.DataFrame(datas)
df.head(2)

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,...,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
0,None,24371037,https://ic.zigbang.com/ic/items/24371037/1.jpg,ì›”ì„¸,ì›”ì„¸,2000,70,46.28,"{'m2': 46.28, 'p': '14'}","{'m2': 44.63, 'p': '13.5'}",...,False,True,ë¹Œë¼,[],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,None,None,0,2020-10-16T16:05:33+09:00,False
1,None,24019996,https://ic.zigbang.com/ic/items/24019996/1.jpg,ì „ì„¸,ì „ì„¸,18000,0,71.11,"{'m2': 71.11, 'p': '21.5'}","{'m2': 68.81, 'p': '20.8'}",...,False,True,ë¹Œë¼,[],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,None,None,1.5,2020-10-19T14:27:54+09:00,False

In [5]:
# server ì—°ê²°
server = pymongo.MongoClient('mongodb://52.78.52.151:27017/')
db = server.zigbang

In [6]:
addrs = {
    "mongwon": "ë§ˆí¬êµ¬ ë§ì›ë™",
    "hapjung": "ë§ˆí¬êµ¬ í•©ì •ë™",
}

In [13]:
# ë°ì´í„° ìˆ˜ì§‘ í›„ ì €ì¥
for collection_name, addr in addrs.items():
    collection = db[collection_name]
    datas = zb.oneroom(addr)
    collection.insert_many(datas) 
    # ids = collection.insert(datas) # pymongo version update (insert -> insert_many)
    # print(collection_name, addr, len(ids))

In [14]:
# ë§ì›ë™ì—ì„œ ì›”ì„¸ 50ì´í•˜ ë³´ì¦ê¸ˆ 1000ì—ì„œ 3000ì¡°ê±´ìœ¼ë¡œ ê²€ìƒ‰
QUERY = {"rent": {"$lte": 50}, "deposit": {"$lte": 3000, "$gte": 1000}}
results = db["mongwon"].find(QUERY)
df = pd.DataFrame(results).tail()
columns = ["title", "service_type", "sales_type", "deposit", "rent", "size_m2", "floor", "building_floor", "address1", "manage_cost", "is_new"]
df[columns]

,title,service_type,sales_type,deposit,rent,size_m2,floor,building_floor,address1,manage_cost,is_new
7,ë§ì›ì—­5ë¶„//ë§ì›ì‹œì¥ì˜†//í°ë°©,ì›ë£¸,ì›”ì„¸,1000,40,19.83,2,4,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,3,False
8,ğŸ§¡ğŸ’›ë§ì›ì—­ ë„ë³´5ë¶„ê±°ë¦¬ ì •ë§ ì €ë ´í•˜ê³ ë„“ì€ ë°©!ğŸ§¡ğŸ’›,ì›ë£¸,ì›”ì„¸,1000,40,23.14,2,3,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,3,True
9,âœ”â›§ì±„ê´‘ì¢‹ì€ í’€ì˜µì…˜ì›ë£¸ ë‚´ë¶€ê¹”ë”â›§âœ”,ì›ë£¸,ì›”ì„¸,3000,40,23.14,3,4,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,False
10,âœ”â­ë¦¬ëª¨ë¸ë§ ì²«ì…ì£¼ íˆ¬ë£¸âœ”ë§ì›ì‹œì¥ ì¸ê·¼âœ”ì±„ê´‘ ì¢‹ì•„ìš”â™»â­,ë¹Œë¼,ì›”ì„¸,1000,50,42.98,ë°˜ì§€í•˜,2,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,1,True
11,â­â­ë² ë€ë‹¤ ìˆëŠ” ì›ë£¸â­ì£¼íƒê°€ ì¡°ìš©â­ë§ˆí¬êµ¬ì²­ì—­3ë¶„â­â­,ì›ë£¸,ì›”ì„¸,1000,40,19.83,5,6,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,3,False

In [15]:
# ì»¬ë ‰ì…˜ ì‚­ì œ
for addr in addrs:
    print(addr)
    server.zigbang.drop_collection(addr)

mongwon
hapjung

In [16]:
# ë°ì´í„° ë² ì´ìŠ¤ ì‚­ì œ
server.drop_database("zigbang")